[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-admin = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
passlib = {extras = ["bcrypt"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
