{% extends 'base.html' %}
{% block title %} Password Updated {% endblock %}
{% block content %}
{% include 'header.html' %}

<body class="font-mono bg-gray-100">
  <!-- Container -->
  <div class="container mx-auto">
    <div class="flex justify-center px-6 my-12">
      <!-- Row -->
      <div class="w-full xl:w-3/4 lg:w-11/12 flex">
        <!-- Col -->
        <div class="w-full h-auto bg-gray-400 hidden lg:block lg:w-1/2 bg-cover rounded-l-lg"
          style="background-image: url('https://source.unsplash.com/oWTW-jNGl9I/600x800')"></div>
        <!-- Col -->
        <div class="box2 w-full lg:w-1/2 bg-white p-5 rounded-lg lg:rounded-l-none">
          <div class="px-8 mb-4 text-center">
            <h3 class="pt-4 mb-2 text-2xl">Password Reset Successfully!</h3>
            <p class="mb-4 text-sm text-gray-700">
              Your Passwod has been Updated! You can Login Yourself Now!
            </p>
          </div>
          <div class="mb-6 text-center">
            <a href="{{ url_for('auth.login') }}"><button id="home"
                class="w-full px-4 py-2 font-bold text-white bg-red-500 rounded-full hover:bg-red-700 focus:outline-none focus:shadow-outline"
                type="submit">
                Go to Login Page!
              </button></a>
          </div>
          <hr class="mb-6 border-t" />
          <div class="text-center">
            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
              href="{{ url_for('auth.register') }}">
              Create an Account!
            </a>
          </div>
          <div class="text-center">
            <a class="inline-block text-sm text-blue-500 align-baseline hover:text-blue-800"
              href="{{ url_for('auth.login') }}">
              Already have an account? Login!
            </a>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>



{% include 'footer.html' %}
{% endblock %}